.auth__form{
	background: var(--hero-bg);
	padding: 40px;
	border-radius: 5px;
}
.auth__btn{
	background: #fff !important;
	color: var(--primary-color);
	font-weight: 600;
	margin-bottom: 30px;
}

.auth__form input[type='file']{
	color: var(--primary-color);
	cursor: pointer;
}

Form p span{
	opacity: 80%;
}